version: '3.8'

services:
  app:
    build:
      context: .
      target: builder # usa la etapa con dependencias completas
    container_name: hcel-backend
    restart: always
    env_file: .env
    ports:
      - '3000:3000'
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
